<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.colmenaseguros.com/" responseMode="Redirect" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="RedireccionaTodoAlRaiz" enabled="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://www.colmenaseguros.com/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
